In [5]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
url="https://i.forbesimg.com/csf/30under30-2020-lander/js/main.js?v=34"
content=urlopen(url)
soup=BeautifulSoup(content,'html.parser')

In [34]:
a = {"Art &amp; Style":"https://www.forbes.com/30-under-30/2020/art-style/","Consumer Technology":"https://www.forbes.com/30-under-30/2020/consumer-technology/",'Education':"https://www.forbes.com/30-under-30/2020/education/",'Energy':"https://www.forbes.com/30-under-30/2020/energy/","Enterprise Technology":"https://www.forbes.com/30-under-30/2020/enterprise-technology/",'Finance':"https://www.forbes.com/30-under-30/2020/finance/","Food &amp; Drink":"https://www.forbes.com/30-under-30/2020/food-drink/",'Games':"https://www.forbes.com/30-under-30/2020/games/",'Healthcare':"https://www.forbes.com/30-under-30/2020/healthcare/","Hollywood &amp; Entertainment":"https://www.forbes.com/30-under-30/2020/hollywood-entertainment/","Law &amp; Policy":"https://www.forbes.com/30-under-30/2020/law-policy/","Manufacturing &amp; Industry":"https://www.forbes.com/30-under-30/2020/manufacturing-industry/","Marketing &amp; Advertising":"https://www.forbes.com/30-under-30/2020/marketing-advertising/",'Media':"https://www.forbes.com/30-under-30/2020/media/",'Music':"https://www.forbes.com/30-under-30/2020/music/","Retail &amp; Ecommerce":"https://www.forbes.com/30-under-30/2020/retail-ecommerce/",'Science':"https://www.forbes.com/30-under-30/2020/science/","Social Entrepreneurs":"https://www.forbes.com/30-under-30/2020/social-entrepreneurs/",'Sports':"https://www.forbes.com/30-under-30/2020/sports/","Venture Capital":"https://www.forbes.com/30-under-30/2020/venture-capital/","Big Money":"https://www.forbes.com/30-under-30/2020/big-money/",'Celebrities':"https://www.forbes.com/30-under-30/2020/celebrities/",'Immigrants':"https://www.forbes.com/30-under-30/2020/immigrants/","Under 30 Global":"https://www.forbes.com/under30/list/2019/asia","Under 30 Europe":"https://www.forbes.com/under30/list/2019/europe","Under 30":"https://www.forbes.com/lists/30-under-30/2020/","Under 30 Forbes Fellows":"https://www.forbes.com/lists/30-under-30/2020/","Under 30 Summit":"https://www.forbes.com/lists/30-under-30/2020/"}

import pandas as pd
df1 = pd.DataFrame(columns=['sector','link'])

for i, key in enumerate(a):
    row = [key.replace('&amp;','&'),a[key]]
    df1.loc[i] = row
    
df1

                       sector                                               link
0                 Art & Style  https://www.forbes.com/30-under-30/2020/art-st...
1         Consumer Technology  https://www.forbes.com/30-under-30/2020/consum...
2                   Education  https://www.forbes.com/30-under-30/2020/educat...
3                      Energy    https://www.forbes.com/30-under-30/2020/energy/
4       Enterprise Technology  https://www.forbes.com/30-under-30/2020/enterp...
5                     Finance   https://www.forbes.com/30-under-30/2020/finance/
6                Food & Drink  https://www.forbes.com/30-under-30/2020/food-d...
7                       Games     https://www.forbes.com/30-under-30/2020/games/
8                  Healthcare  https://www.forbes.com/30-under-30/2020/health...
9   Hollywood & Entertainment  https://www.forbes.com/30-under-30/2020/hollyw...
10               Law & Policy  https://www.forbes.com/30-under-30/2020/law-po...
11   Manufacturing & Industry  https://www.forbes.com/30-under-30/2020/manufa...
12    Marketing & Advertising  https://www.forbes.com/30-under-30/2020/market...
13                      Media     https://www.forbes.com/30-under-30/2020/media/
14                      Music     https://www.forbes.com/30-under-30/2020/music/
15         Retail & Ecommerce  https://www.forbes.com/30-under-30/2020/retail...
16                    Science   https://www.forbes.com/30-under-30/2020/science/
17       Social Entrepreneurs  https://www.forbes.com/30-under-30/2020/social...
18                     Sports    https://www.forbes.com/30-under-30/2020/sports/
19            Venture Capital  https://www.forbes.com/30-under-30/2020/ventur...
20                  Big Money  https://www.forbes.com/30-under-30/2020/big-mo...
21                Celebrities  https://www.forbes.com/30-under-30/2020/celebr...
22                 Immigrants  https://www.forbes.com/30-under-30/2020/immigr...
23            Under 30 Global      https://www.forbes.com/under30/list/2019/asia
24            Under 30 Europe    https://www.forbes.com/under30/list/2019/europe
25                   Under 30     https://www.forbes.com/lists/30-under-30/2020/
26    Under 30 Forbes Fellows     https://www.forbes.com/lists/30-under-30/2020/
27            Under 30 Summit     https://www.forbes.com/lists/30-under-30/2020/

In [148]:
url = 'https://www.forbes.com/profile/sarah-abbasi/?list=30under30-art-style&sh=5fdbf8ff6722'
content=urlopen(url)
soup=BeautifulSoup(content,'html.parser')

In [106]:
name = soup.title.get_text()
about = soup.find_all("div",class_="listuser-content__bio")[0].get_text().strip()
education = soup.find_all("div",class_="listuser-item__content listuser-item__content--title")[0].get_text().strip()
title = soup.find_all("div",class_="listuser-header__title")[0].get_text().strip()
company = soup.find_all("div",class_="listuser-header__subheading organization")[0].get_text().strip()
location = soup.find_all("div",class_="listuser-header__subheading location")[0].get_text().strip()
socialmedia = json.loads(soup.script.contents[0])['sameAs']
url = soup.find_all("a",class_="listuser-peer")[0]['href'].strip()
row = [name, about, education, title, company, location, socialmedia]

In [584]:
import pandas as pd

url = 'http://www.forbes.com/profile/cameron-turtle'

df2 = pd.DataFrame(columns=['name', 'about', 'education', 'title', 'company', 'location', 'socialmedia','sector'])

for i in range(0,5):
    
    print(i)
    content=urlopen(url)
    soup=BeautifulSoup(content,'html.parser')
    
    name=''
    about=''
    education=''
    title=''
    company=''
    location=''
    socialmedia=''
    
    try:
        education = soup.find_all("div",class_="listuser-item__content listuser-item__content--title")[0].get_text().strip()
    except:
        pass
    name = soup.title.get_text()
    about = soup.find_all("div",class_="listuser-content__bio")[0].get_text().strip()
    title = soup.find_all("div",class_="listuser-header__title")[0].get_text().strip()
    company = soup.find_all("div",class_="listuser-header__subheading organization")[0].get_text().strip()
    location = soup.find_all("div",class_="listuser-header__subheading location")[0].get_text().strip()
    socialmedia = json.loads(soup.script.contents[0])['sameAs']
    sector = df1.iloc[0,0]
    
    row = [name, about, education, title, company, location, socialmedia, sector]
    
    url = soup.find_all("a",class_="listuser-peer")[0]['href'].strip()
    
    df2.loc[i] = row

df2.index = range(25,30)
df2 = df2.drop(columns=['sector'])
df2.to_clipboard()

0
1
2
3
4

In [476]:
df2

               name  ...       sector
25  Chloe Steinberg  ...  Art & Style
26          Amy Sun  ...  Art & Style
27    Vinay Trivedi  ...  Art & Style
28         Shawn Xu  ...  Art & Style
29      Kevin Zhang  ...  Art & Style

[5 rows x 8 columns]

               name  ...       sector
25  Chloe Steinberg  ...  Art & Style
26          Amy Sun  ...  Art & Style
27    Vinay Trivedi  ...  Art & Style
28         Shawn Xu  ...  Art & Style
29      Kevin Zhang  ...  Art & Style

[5 rows x 8 columns]

In [205]:
df1

                       sector  ...          firstperson
0                 Art & Style  ...         Sarah Abbasi
1         Consumer Technology  ...        Adelle Archer
2                   Education  ...                 Ambi
3                      Energy  ...       Acoustic Wells
4       Enterprise Technology  ...                AceUp
5                     Finance  ...       Anjelo Austria
6                Food & Drink  ...        Laureen Asseo
7                       Games  ...          Kezia Adamo
8                  Healthcare  ...         Chloe Alpert
9   Hollywood & Entertainment  ...     Yalitza Aparicio
10               Law & Policy  ...      Yassamin Ansari
11   Manufacturing & Industry  ...              Alchemy
12    Marketing & Advertising  ...      Sayid Abdullaev
13                      Media  ...         Tomi Adeyemi
14                      Music  ...            Amy Allen
15         Retail & Ecommerce  ...        Jessica Assaf
16                    Science  ...  Balkees Abderrahman
17       Social Entrepreneurs  ...     Darius Ballinger
18                     Sports  ...            Ivy Awino
19            Venture Capital  ...          Luke Armour
20                  Big Money  ...
21                Celebrities  ...
22                 Immigrants  ...
23            Under 30 Global  ...
24            Under 30 Europe  ...
25                   Under 30  ...
26    Under 30 Forbes Fellows  ...
27            Under 30 Summit  ...

[28 rows x 3 columns]

In [201]:
firstperson = ['Sarah Abbasi',
               'Adelle Archer',
               'Ambi',
               'Acoustic Wells',
               'AceUp',
               'Anjelo Austria',
               'Laureen Asseo',
               'Kezia Adamo',
               'Chloe Alpert',
               'Yalitza Aparicio',
               'Yassamin Ansari',
               'Alchemy',
               'Sayid Abdullaev',
               'Tomi Adeyemi',
               'Amy Allen',
               'Jessica Assaf',
               'Balkees Abderrahman',
               'Darius Ballinger',
               'Ivy Awino',
               'Luke Armour',
               '',
               '',
               '',
               '',
               '',
               '',
               '',
               '']
df1['firstperson'] = firstperson

In [443]:
df3 = pd.DataFrame(columns=['name', 'about', 'education', 'title', 'company', 'location', 'socialmedia','sector'])
df3

Empty DataFrame
Columns: [name, about, education, title, company, location, socialmedia, sector]
Index: []

In [444]:
for j in range(0,20):
    
    try:
        url = 'https://www.forbes.com/profile/' + df1['firstperson'][j].strip().lower().replace(' ','-') + "/"
    
        df = pd.DataFrame(columns=['name', 'about', 'education', 'title', 'company', 'location', 'socialmedia','sector'])
    
        for i in range(0,30):
            
            content=urlopen(url)
            soup=BeautifulSoup(content,'html.parser')
    
            name=''
            about=''
            education=''
            title=''
            company=''
            location=''
            socialmedia=''
            
            try:
                education = soup.find_all("div",class_="listuser-item__content listuser-item__content--title")[0].get_text().strip()
            except:
                pass
    
            name = soup.title.get_text()
            about = soup.find_all("div",class_="listuser-content__bio")[0].get_text().strip()
            title = soup.find_all("div",class_="listuser-header__title")[0].get_text().strip()
            company = soup.find_all("div",class_="listuser-header__subheading organization")[0].get_text().strip()
            location = soup.find_all("div",class_="listuser-header__subheading location")[0].get_text().strip()
            socialmedia = json.loads(soup.script.contents[0])['sameAs']
            sector = df1.iloc[j,0]
            
            row = [name, about, education, title, company, location, socialmedia, sector]
            
            url = soup.find_all("a",class_="listuser-peer")[0]['href'].strip()
            
            df.loc[i] = row
            
        df3 = pd.concat([df3,df], axis=0)
        print(j,"good")
        
    except:
        print(j)
        pass

0 good
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [442]:
df3

                       name  ...       sector
0              Sarah Abbasi  ...  Art & Style
1       Tunji Adeniyi-Jones  ...  Art & Style
2           Farah Al Qasimi  ...  Art & Style
3              Danny Casale  ...  Art & Style
4                 Yixi Chen  ...  Art & Style
5              Reese Cooper  ...  Art & Style
6                Sally Deng  ...  Art & Style
7                 Dani Egna  ...  Art & Style
8             Louis Fratino  ...  Art & Style
9            Marly Gallardo  ...  Art & Style
10       Ilana Harris-Babou  ...  Art & Style
11              Lily Hevesh  ...  Art & Style
12           Acacia Johnson  ...  Art & Style
13              Jarrett Key  ...  Art & Style
14                  Jon Key  ...  Art & Style
15             Myles Loftin  ...  Art & Style
16       Grace Lynne Haynes  ...  Art & Style
17            Saad Moosajee  ...  Art & Style
18            Lauren Nouchi  ...  Art & Style
19                  Lisa Qu  ...  Art & Style
20        Emily Ratajkowski  ...  Art & Style
21       Jess Hannah Révész  ...  Art & Style
22  Christopher John Rogers  ...  Art & Style
23           Maisie Schloss  ...  Art & Style
24             Vaughn Spann  ...  Art & Style
25            Sundae School  ...  Art & Style
26              Mei-Lan Tan  ...  Art & Style
27           Amber Vittoria  ...  Art & Style
28                 Diyou Wu  ...  Art & Style
29        Shilpa Yarlagadda  ...  Art & Style

[30 rows x 8 columns]

In [361]:
df = pd.DataFrame(columns=['name', 'about', 'education', 'title', 'company', 'location', 'socialmedia','sector'])
df3 = pd.DataFrame(columns=['name', 'about', 'education', 'title', 'company', 'location', 'socialmedia','sector'])

In [433]:
j = 0

url = 'https://www.forbes.com/profile/' + df1['firstperson'][j].strip().lower().replace(' ','-') + "/"

for i in range(0,30):
    print(i)
    content=urlopen(url)
    soup=BeautifulSoup(content,'html.parser')

    name=''
    about=''
    education=''
    title=''
    company=''
    location=''
    socialmedia=''
    
    try:
        education = soup.find_all("div",class_="listuser-item__content listuser-item__content--title")[0].get_text().strip()
    except:
        pass

    name = soup.title.get_text()
    about = soup.find_all("div",class_="listuser-content__bio")[0].get_text().strip()
    title = soup.find_all("div",class_="listuser-header__title")[0].get_text().strip()
    company = soup.find_all("div",class_="listuser-header__subheading organization")[0].get_text().strip()
    location = soup.find_all("div",class_="listuser-header__subheading location")[0].get_text().strip()
    socialmedia = json.loads(soup.script.contents[0])['sameAs']
    sector = df1.iloc[j,0]
    
    row = [name, about, education, title, company, location, socialmedia, sector]
    
    url = soup.find_all("a",class_="listuser-peer")[0]['href'].strip()
    
    df.loc[i] = row

df

0

AttributeError: 'NoneType' object has no attribute 'get_text'

In [425]:
df3 = pd.concat([df3,df])
df3

                name  ...           sector
0        Julie Slama  ...      Art & Style
1      McKenzie Snow  ...      Art & Style
2   Sunrise Movement  ...      Art & Style
3          TaxProper  ...      Art & Style
4            Jen Zhu  ...      Art & Style
..               ...  ...              ...
25           Jen Zhu  ...  Venture Capital
26   Yassamin Ansari  ...  Venture Capital
27      Matthew Asir  ...  Venture Capital
28  Jessica Cisneros  ...  Venture Capital
29    Alexander Diaz  ...  Venture Capital

[630 rows x 8 columns]

In [403]:
df3.to_csv('/Users/arlenehuang/OneDrive - Columbia University/Internships/Silicon Valley Podcast/Fortune 40 under 40/30under30.csv')

In [427]:
content=urlopen(url)
soup=BeautifulSoup(content,'html.parser')
soup.title

In [530]:
import pandas as pd

df = pd.read_csv('/Users/arlenehuang/OneDrive - Columbia University/Internships/Silicon Valley Podcast/Fortune 40 under 40/result.csv', encoding = 'ISO-8859-1')

In [581]:
m = 8

url = 'http://www.forbes.com/profile/' + df.iloc[(m*30+25),1].lower().replace(' ', '-')

df2 = pd.DataFrame(columns=['name', 'about', 'education', 'title', 'company', 'location', 'socialmedia','sector'])

for i in range(0,5):
    
    print(i)
    content=urlopen(url)
    soup=BeautifulSoup(content,'html.parser')
    
    name=''
    about=''
    education=''
    title=''
    company=''
    location=''
    socialmedia=''
    
    try:
        education = soup.find_all("div",class_="listuser-item__content listuser-item__content--title")[0].get_text().strip()
    except:
        pass
    name = soup.title.get_text()
    about = soup.find_all("div",class_="listuser-content__bio")[0].get_text().strip()
    title = soup.find_all("div",class_="listuser-header__title")[0].get_text().strip()
    company = soup.find_all("div",class_="listuser-header__subheading organization")[0].get_text().strip()
    location = soup.find_all("div",class_="listuser-header__subheading location")[0].get_text().strip()
    socialmedia = json.loads(soup.script.contents[0])['sameAs']
    sector = df.iloc[(m*30+24),8]
    
    row = [name, about, education, title, company, location, socialmedia, sector]
    
    url = soup.find_all("a",class_="listuser-peer")[0]['href'].strip()
    
    df2.loc[i] = row

df2.index = range(25,30)

for i in range(0,5):
    df.loc[(m*30+25+i)] = df2.loc[i+25]

0
1
2
3

AttributeError: 'NoneType' object has no attribute 'get_text'

In [580]:
df.to_clipboard()

In [582]:
df2.to_clipboard()

In [556]:
df.iloc[(m*30+25),1]

'Sanguina'

In [555]:
m=8

In [587]:
df = pd.read_csv('/Users/arlenehuang/OneDrive - Columbia University/Internships/Silicon Valley Podcast/Fortune 40 under 40/30under30.csv', encoding = 'ISO-8859-1')

      no  ...           sector
0      0  ...      Art & Style
1      1  ...      Art & Style
2      2  ...      Art & Style
3      3  ...      Art & Style
4      4  ...      Art & Style
..   ...  ...              ...
595  595  ...  Venture Capital
596  596  ...  Venture Capital
597  597  ...  Venture Capital
598  598  ...  Venture Capital
599  599  ...  Venture Capital

[600 rows x 10 columns]

In [637]:
df2 = df
df2

      no  ...           sector
0      0  ...      Art & Style
1      1  ...      Art & Style
2      2  ...      Art & Style
3      3  ...      Art & Style
4      4  ...      Art & Style
..   ...  ...              ...
595  595  ...  Venture Capital
596  596  ...  Venture Capital
597  597  ...  Venture Capital
598  598  ...  Venture Capital
599  599  ...  Venture Capital

[600 rows x 10 columns]

In [654]:
df2['linkedin'] = ''
df2['instagram'] = ''
df2['website'] = ''
df2['twitter'] = ''
df2['company'] = ''
df2

      no  no_in_sec                 name  ... instagram website twitter
0      0        0.0         Sarah Abbasi  ...
1      1        1.0  Tunji Adeniyi-Jones  ...
2      2        2.0      Farah Al Qasimi  ...
3      3        3.0         Danny Casale  ...
4      4        4.0            Yixi Chen  ...
..   ...        ...                  ...  ...       ...     ...     ...
595  595        NaN      Chloe Steinberg  ...
596  596        NaN              Amy Sun  ...
597  597        NaN        Vinay Trivedi  ...
598  598        NaN             Shawn Xu  ...
599  599        NaN          Kevin Zhang  ...

[600 rows x 14 columns]

In [660]:
for i in range(0,600):
    try:
        for item in df.iloc[i,8].split('}, {'):
            title = item.split(':')[1].split(',')[0].replace('\'','').strip()
            url = 'http:' + item.split(':')[4].replace('\'}]','').strip()
            df2[title][i] = url
    except:
        pass

<ipython-input-660-02c243a7c4c9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[title][i] = url

In [663]:
df2.to_csv('/Users/arlenehuang/OneDrive - Columbia University/Internships/Silicon Valley Podcast/Fortune 40 under 40/30under30.csv')